.Form {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}

.calendar {
  text-align: center;
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
  height: 100%;
}
.btn-block {
  margin-top: 2rem;
}
.icon{
  font-size: 25px;
  color: #FFC107;
}
.icon1{
  font-size: 25px;
  color: #F44336;
}

.random{
  background-color: red;
  color: #f00 !important;
}